.input-data {
    margin: 10px 10px;
}
.timer {
    margin: 10px;
    display: flex;
    gap: 30px;
}
.field {
    display: flex;
    flex-direction: column;
    /* padding: 5px 15px;
    border: 2px solid blue;
    border-radius: 4px; */
}
.value {
    font-size: 32px;
    color: red;
}
.btn-start {
    color: blue;
    font-size: 18px;
}